body {
  margin: 0;
}

.form-label {
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
}
  
.form-input {
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  cursor: pointer;
  overflow: auto;
}

.form-select {
  padding: 10px 20px;
  cursor: pointer;
  width: 300px;
}

.page-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.asset-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  border: 2px solid black;
  padding: 20px 40px;
  box-shadow: 3px 3px 5px black;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 750px;
  border-radius: 10px;
  gap: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
}

footer {
  background-color: #232323;
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row ;
  margin: 0;
}

.button-container{
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.encrypt-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #d12c2c;
  border-radius: 15px;
  box-sizing: border-box;
  color: #d12c2c;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.encrypt-button:disabled {
  pointer-events: none;
}

.encrypt-button:hover {
  color: #fff;
  background-color: #d12c2c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.encrypt-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.decrypt-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #2fc271;
  border-radius: 15px;
  box-sizing: border-box;
  color: #2fc271;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.decrypt-button:disabled {
  pointer-events: none;
}

.decrypt-button:hover {
  color: #fff;
  background-color: #2fc271;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.decrypt-button:active {
  box-shadow: none;
  transform: translateY(0);
}